<header class="header-nav reveal">
  <a href="{{ '/' | relative_url }}" class="header-logo" title="{{ site.name }}">
  <img style="max-width: 300px;" src="/assets/documentation/11_new_rookieslab_logo.png" alt="{{ site.name }}"/></a>
  <ul class="header-links">
    {% if site.about_enabled == true %}
      <li>
        <a href="{{ 'about' | relative_url }}" title="About me">
          <span class="icon icon-android-person"></span>
        </a>
      </li>
    {% endif %}
    {% if site.social.twitter %}
      <li>
        <a href="https://twitter.com/{{ site.social.twitter }}" target="_blank" title="Twitter">
          <span class="icon icon-social-twitter"></span>
        </a>
      </li>
    {% endif %}
    {% if site.social.github %}
      <li>
        <a href="https://github.com/{{ site.social.github }}" target="_blank" title="GitHub">
          <span class="icon icon-social-github"></span>
        </a>
      </li>
    {% endif %}
      {% if site.social.linkedin %}
      <li>
        <a href="https://www.linkedin.com/in/{{ site.social.linkedin }}" target="_blank" title="LinkedIn">
          <span class="icon icon-social-linkedin"></span>
        </a>
      </li>
    {% endif %}
    {% if site.rss_enabled == true %}
      <li>
        <a href="{{ 'feed.xml' | relative_url }}" target="_blank" title="RSS">
          <span class="icon icon-social-rss"></span>
        </a>
      </li>
    {% endif %}

  </ul>

</header>

<!-- Navigation -->
<nav id="slide-menu">
  <ul>
    <li><a href="{{ site.url }}">Home</a></li>
    <li><a href="{{ site.baseurl }}{% link _my_tags/software-engineering.md %}">Software Engineering</a></li>
    <li><a href="{{ site.baseurl }}{% link _my_tags/competitive-programming.md %}">Competitive Programming</a></li>
    <li><a href="{{ site.baseurl }}{% post_url 2013-01-12-collection-of-python-blogs-for-beginners-mitx-600x-edx %}">Beginner's Python</a></li>
    <li class="sep"><a href="{{ site.baseurl }}{% link about.html %}">About</a></li>
    <li><a href="{{ site.baseurl }}{% link resume.html %}">Resume</a></li>
  </ul>
</nav>

<!-- Content panel -->
<div class="menu-trigger"></div>
